.contactForm{
    width:100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.formContent{
    
}

.SendButton:hover .SendButtonIcon {
    padding-left: 20px;
}
.SendButton{
    
}
.SendButtonDisabled{
    
}
.ThankYouHeader{
    
}

.formGridContainer{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 0px;
}

.formGridItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formGridItem:nth-child(1) {
  grid-column: 2 / 3;
}
.formGridItem:nth-child(2) {
  grid-column: 3 / 4;
}
.formGridItem:nth-child(3) {
  grid-column: 2 / 3;

}
.formGridItem:nth-child(4) {
  grid-column: 2 / 4;
}
.formConfirmation{
    width:100%;
    text-align: center;
    padding-bottom: 20px;
}