.contactForm{
    width:100%;
    height: 500px;
    position:relative;

}
.formContent{
    padding-left: 5%;
    padding-right: 5%;
    
    position:relative;
}
.ContactContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px;
    grid-gap: 0px;
}
.ContactGridItem:nth-child(1) {
  grid-column: 2 / 4;
}

.SendButton:hover .SendButtonIcon {
    padding-left: 20px;
}
.SendButton{
    position: absolute;
    top:425px;
    left:50%
}
.SendButtonDisabled{
    position: absolute;
    top:425px;
    left:50%
}
.ThankYouHeader{
    color: #FFF;
    text-shadow: 0 2px 2px rgba(0,0,0,1.00);
    font-size: 64px;
    text-align: center;
    padding-left:500px;
    padding-top: 100px;
}

