header {
    padding-bottom:75px;
    padding-top:75px;
}

.TopMenu_Container{
    display: grid;
    grid-template-columns: repeat(1, 3fr) repeat(6, 4fr) repeat(1, 3fr);
    grid-gap: 0px;
}

.TopMenu_GridItem {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TopMenu_h2 {
  color: #FFF;
  font-size: 16px;
  text-shadow: 0 2px 2px rgba(0,0,0,1.00);
}

.TopMenu_GridItem:nth-child(1) {
  grid-column: 2 / 3;
}
.TopMenu_GridItem:nth-child(2) {
  grid-column: 3 / 4;
}
.TopMenu_GridItem:nth-child(3) {
  grid-column: 4 / 5;
}
.TopMenu_GridItem:nth-child(4) {
  grid-column: 5 / 6;
}
.TopMenu_GridItem:nth-child(5) {
  grid-column: 6 / 7;
}
.TopMenu_GridItem:nth-child(6) {
  grid-column: 7 / 8;
}